@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
	box-sizing: border-box;
	/* margin: 0; */
}

body{
	background-color: hsl(204, 43%, 93%);
	font-family: "Karla" ,sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

main{
	background-color: #fff;
	max-width: 800px;
	width: 800px;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 5px 10px 10px rgba(0, 0,0,0.05);
	overflow: hidden;
}

section{
	padding: 35px;
}

section.cyan{
	background-color: hsl(179, 62%, 43%);
	color: #fff;
}

section.greyish-blue{
	background-color:hsl(179, 47%, 52%);
	color: #fff;
}

.row{
	display: flex;
}
.row>section{
	flex: 1;
}

h1{
	color: hsl(179, 62%, 43%);
	font-size: 34px;
}

.yellow-txt{
	color: hsl(71, 73%, 54%);
}
section.top p{
	font-size: 18px;
	color: hsl(218, 22%, 67%);
	line-height: 15px;
	font-weight: 700;
}
h3{
	font-size: 25px;
}

p{
	font-size: 18px;
	/* font-weight: 700; */
}
p.faded{
	color:hsl(180, 48%, 78%); 
	display: flex;
	align-items: center;
	font-weight: 700;
}
p.faded span{
	color: #fff;
	font-size: 50px;
	margin-right: 10px;	
}


button{
	font-family: "Karla" ,sans-serif;
	color: #fff;
	border: none;
	box-shadow: 0 5px 10px 10px rgba(0, 0,0,0.05);
	background-color: hsl(71, 73%, 54%);
	cursor: pointer;
	width: 100%;
	padding: 20px 0;
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
	margin-top: 15px;
}

ul{
	list-style-type: none;
	padding: 0;
	opacity: 0.7;
	font-size: 18px;
}

ul li{
	line-height: 28px;
}




/* MEDIA  */
@media screen and (max-width:600px){
	.row{
		flex-direction: column;
	}
}